.content {
  position: relative;
  width: 420px;
  height: 420px;
  margin: 60px auto;
}

.btn {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.button {
  width: 152px;
  height: 40px;
  font-weight: 560;
  font-size: 18px;
  position: absolute;
  left: 50%;
  margin-left: -76px;
  top: 50%;
  margin-top: -26px;
  cursor: pointer;
}

.button:hover {
  background-color: #4d926b;
}

.button:active {
  position: absolute;
  left: 50%;
  margin-left: -76px;
  top: 50%;
  margin-top: -26px;
}

.button-action,
.button-action-flat {
  background-color: #3fa46a;
  border-color: #3fa46a;
  color: #fff;
}

.button-3d.button-action {
  box-shadow: 0 6px 0 #4d926b, 0 8px 3px rgba(0, 0, 0, 0.3);
}

.button-3d.button-action:hover {
  color: #fff;
  box-shadow: 0 6px 0 #3e6e53, 0 8px 3px rgba(0, 0, 0, 0.3);
}

.button-3d.button-action:visited {
  color: #fff;
  box-shadow: 0 6px 0 #3e6e53, 0 8px 3px rgba(0, 0, 0, 0.3);
}

.pauseBtn {
  display: none;
}

#snake-wrap {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #225675;
  border: 10px solid #7dd9ff;
}

#snake-wrap div {
  width: 16px;
  height: 16px;
}

.snake-head {
  background-color: #4d926b;
  border-radius: 50%;
}

.snake-body {
  background-color: #3fa46a;
  border-radius: 0% 50%;
}

.food {
  background-color: rgb(244, 247, 76);
  border-radius: 0% 50%;
}
